* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 1200px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

header > h2 {
  color: cadetblue;
}

header > nav > .nav-link {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
  text-decoration: none;
}

header > nav > .nav-link:hover, .active {
  background-color: cadetblue;
  color: #fff;
}

.root {
  margin: auto;
}

.root > .main {
  height: 100vh;
  padding: 20px 0;
}

.projects{
  padding: 0 20px;
}

.projects > .project-list {
  margin-top: 20px;
}

.projects > .flex {
  display: flex;
  gap: 20px;
  font-size: 15px;
  text-decoration: none;
}

.projects > .flex  > .subtitle {
  font-size: 25px;
  font-weight: 500;
}

.projects > .flex  > .project-link {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.townhouse {
  display: grid;
  text-align: center;
  margin: auto;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.townhouse > .item {
  background-color: #f2f2f2;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
  height: 400px;
}


.townhouse > .item > .banner-img {
  width: 250px;
  height: auto;
  padding-top: 20px;
}

.townhouse > .item > .title {
  text-align: left;
  padding: 10px 0 10px 20px;
  font-weight: 500;
}

.townhouse > .item > p {
  text-align: justify;
  padding: 0 20px 20px 20px;
}

.townhouse > .item > .viewDetails {
  text-align: left !important;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 15px;
  text-decoration: none;
  background-color: cadetblue;
  color: #fff;
}

div > .location {
  padding: 10px 0;
  color: #3d3c3c;
}

.details > .item > .title {
  font-size: 20px;
  font-weight: 500;
}

.details > .item > p {
  width: 50%;
}